@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .ayam-goreng{
    @apply bg-gradient-to-b from-[#f6b948] to-[#EB9E0E] from p-5 rounded-full lg:w-60 lg:h-60;
  }
} */
@layer components {
  .ayam-goreng {
    @apply ;
  }
}


@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-ExtraLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-ExtraBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Barlow-semi-condensed";
  src: url("/assets/barlow-semi-condensed/BarlowSemiCondensed-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}


body{
  font-family: Barlow-semi-condensed, sans-serif;
  font-weight: bold;
}

